


@media only screen and (max-width: 768px) {
 
  body {
    zoom: 0.5;
  }
  .selecao-de-personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 20px;
  }

  .cabecalho {
   
    margin-bottom: 20px; 
  }

  .personagens {
    
    max-width: 80%; 
    margin-bottom: 20px; 
  }

  .personagem-selecionado,
  .personagem-selecionado-direita {
    
    max-width: 80%; /
  }

  .personagem-selecionado-direita {
    margin-top: 20px; /
  }
}